.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  min-height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility:hidden;
  opacity:0;
  transition:visibility .3s linear,opacity .3s linear;
}

.popup__zoom-image {
  margin: 0 19px;
  color: white;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.popup__zoom-image_closed {
  display: none;
}

.popup__image {
  max-width: 75vw;
  max-height: 75vh;
  width: auto;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 0;
}

.popup__title-zoom-image {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  padding: 0;
  margin: 0;
  color: white;
}