.profile {
    padding: 0;
    margin: 0 auto 51px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  @media screen and (max-width: 880px) {
    .profile {
      padding: 0 50px;
    }
  }

  @media screen and (max-width: 734px) {
    .profile {
      justify-content: center;
    }
  }  

  @media screen and (max-width: 435px) {
    .profile {
      padding: 0;
    }
  }